/* ça c'est le CSS du BetterMotherFuckingWebsite */

body, footer
{
	color: #444;
	font-size:1.05em;
	margin: 35px auto;
	max-width:645px;
	line-height:1.4;
	padding: 0
	10px;
	
}

.PushStill
{
	font-style: italic;
}

/* ça c'est pour les boutons de la PopUp */

.button_container
{
	background-color: #FDA7DF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 35px auto;
    cursor: pointer;
}

.bouton
{
	background-color: black;
    cursor: pointer;
}

